<!DOCTYPE html>
<html>
<head>
    <title>Department List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h2 class="mb-4">Department List</h2>

    <table class="table table-bordered table-striped">

       <tr>
           <th>ID</th>
           <th>Department Name</th>
           <th>Actions</th>
       </tr>

       {% for department in departments %}
       <tr>

           <td>{{ department[0] }}</td>
           <td>{{ department[1] }}</td>

           <td>

               <a href="/update_department/{{ department[0] }}"
                  class="btn btn-warning btn-sm">
                  Edit
           </a>

        <a href="/delete_department/{{ department[0] }}"
           class="btn btn-danger btn-sm">
           Delete
        </a>

    </td>

</tr>
{% endfor %}

       

    </table>

</div>

</body>
</html>