<!DOCTYPE html>
<html>
<head>
    <title>Payroll Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <h1 class="text-center text-primary">
        Payroll Management System
    </h1>

    <div class="mt-4">

        <a href="/login" class="btn btn-primary">
            Login
        </a>

        <a href="/add_employee" class="btn btn-success">
            Add Employee
        </a>

        <a href="/employees" class="btn btn-info">
            Employee List
        </a>

        <a href="/add_department" class="btn btn-warning">
            Add Department
        </a>

        <a href="/generate_payroll" class="btn btn-danger">
            Generate Payroll
        </a>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>